html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
  background-color: #849d8f;
  font-weight: normal;
  font-family: "Roboto", "Tahoma", sans-serif;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/ice-cream1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.inner .site-wrapper {
  background-image: none;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/ice-cream2.png");
}

.site-wrapper::after {
  background-image: url("../img/ice-cream3.png");
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  vertical-align: top;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-header {
  min-height: 73px;
  min-width: inherit;
}

.navbar-main {
  float: left;
  min-width: 560px;
}

.navbar-main-list {
  display: inline-block;
  margin: 0;
  margin-left: 8px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.navbar-main-list li {
  display: inline-block;
  vertical-align: middle;
}

.navbar-link {
  position: relative;
  display: block;
  height: 22px;
  margin-right: 8px;
  margin-top: -3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
}

.navbar-link::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 85%;
  background-color: rgba(177, 201, 188, 0.8);
  top: 77%;
  left: 10%;
}

.navbar-link:hover {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.navbar-link:hover::before {
  display: none;
}

.navbar-link:active {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  box-shadow: inset 0 2px 1px #8a8a8a;
}

.link-active {
  background-color: #d07058;
  color: #ffffff;
}

a.navbar-link.link-active::before  {
  width: 0;
}

.navbar-dropdown {
  display: none;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 155px;
  margin-top: 9px;
}

.navbar-right {
  float: right;
  width: 267px;
  text-align: right;
  margin-top: 23px;
  font-size: 0;
}

.navbar-search,
.navbar-login,
.navbar-cart {
  display: inline-block;
  vertical-align: top;
}

.navbar-search a {
  display: block;
  position: relative;
  width: 33px;
  height: 33px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-right: 10px;
}

.navbar-search a:hover {
  background-color: #ffffff;
}

.navbar-search a::before {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -636px -10px;
  top: 25%;
  left: 25%;
}

.navbar-search a:hover::before {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -374px -10px;
  top: 25%;
  left: 25%;
}

.navbar-login,
.navbar-cart {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.navbar-login {
  margin-right: 10px;
}

.navbar-login a {
  position: relative;
  display: block;
  width: 77px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 8px;
  padding-right: 15px;
}

.navbar-login a:hover {
  background-color: #ffffff;
  color: #000000;
}

.navbar-login a::before {
  position: absolute;
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
  background-position: -240px -10px;
  top: 20%;
  left: 18%;
}

.navbar-login a:hover::before {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
  background-position: -281px -10px;
  top: 20%;
  left: 18%;
}

.navbar-cart {
  width: 117px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  text-align: center;
}

.navbar-cart a {
  position: relative;
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding-top: 8px;
  padding-left: 13px;
}

.navbar-cart a::before {
  position: absolute;
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  background-position: -51px -10px;
  top: 25%;
  left: 15%;
}

.details {
  min-width: 165px;
  margin-top: 18px;
  color: #ffffff;
}

.details-schedule {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}

.details-phone {
  display: block;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.slider {
  position: relative;
  padding-top: 275px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}

.btn-slider {
  margin: 0 auto;
  padding: 10px 40px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 100px;
}

.slider-switcher {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}


/*Переключатель слайдера*/

.slider-switcher label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#switcher-1:checked~.site-wrapper #slide-1,
#switcher-2:checked~.site-wrapper #slide-2,
#switcher-3:checked~.site-wrapper #slide-3 {
  display: block;
}

#switcher-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream1.png");
}

#switcher-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-cream2.png");
}

#switcher-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream3.png");
}

#switcher-1:checked~.site-wrapper label[for="switcher-1"],
#switcher-2:checked~.site-wrapper label[for="switcher-2"],
#switcher-3:checked~.site-wrapper label[for="switcher-3"] {
  background-color: #ffffff;
}

.specials {
  font-size: 0;
  font-weight: bold;
  margin-top: 41px;
  color: #ffffff;
}

.specials-left,
.specials-right {
  width: 560px;
  min-height: 229px;
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 40px;
  border-radius: 15px;
}

.specials-left {
  margin-right: 26px;
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
  background-position: 22% 52%;
}

.specials-right {
  background-image: url("../img/choco.jpg");
  background-repeat: no-repeat;
  background-position: 81% 47%;
}

.specials-left h2,
.specials-right h2 {
  margin-top: 16px;
  margin-bottom: 15px;
  margin-left: 18px;
  font-size: 35px;
  line-height: 41px;
}

.specials-left p,
.specials-right p {
  margin-top: 0;
  margin-bottom: 44px;
  margin-left: 19px;
  margin-right: auto;
  width: 515px;
}

.btn-specials {
  float: right;
  margin-right: 21px;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 22px 12px 22px;
  border-radius: 25px;
  text-shadow: none;
}

.topsellers {
  margin-bottom: 30px;
  font-size: 0;
}

.topsellers-item,
.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 267px;
  margin-right: 26px;
  text-align: center;
  z-index: 1;
}

.topsellers-item:hover::after,
.catalog-item:hover::after {
  content: "";
  position: absolute;
  width: 293px;
  height: 405px;
  background-color: rgba(168, 185, 174, 0.7);
  border-radius: 10px;
  top: -3%;
  left: -5%;
  z-index: -1;
}

.topsellers-item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/top.png");
  background-repeat: no-repeat;
}

.topsellers-item img,
.catalog-item img {
  border-radius: 50%;
  margin-bottom: 13px;
}

.topsellers-item h2,
.catalog-item h2 {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
  top: 171px;
}

.fontsize-lower {
  font-size: 30px;
}

.item-link {
  display: block;
  margin-bottom: 10px;
  color: #a9bbb1;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.item-link span {
  color: #ffffff;
}

.item-link:hover {
  color: #ffbc9e;
}

.item-link:hover span {
  color: #ffbc9e;
}

.item-link:active {
  color: #ffbc9e;
}

.item-link:active span {
  color: #ffbc9e;
}

.btn-item {
  position: absolute;
  display: none;
  margin-bottom: 10px;
  width: 167px;
  padding: 10px;
  border-radius: 25px;
  margin: 0 auto;
  left: 18%;
}

.topsellers-item:hover .btn-item {
  display: block;
}

.topsellers-item:last-child,
.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog {
  font-size: 0;
  margin-bottom: 80px;
}

.catalog-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.topsellers-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.features {
  padding: 24px 20px;
  padding-bottom: 0;
  margin-bottom: 40px;
  font-size: 0;
  background-image: url("../img/waffle.jpg");
  border-radius: 15px;
}

.features h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  font-weight: 500;
  margin-bottom: 20px;
}

.features-left,
.features-right {
  width: 539px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 22px;
}

.features-left {
  margin-right: 26px;
}

.features-left p,
.features-right p {
  position: relative;
  margin: 0;
  padding-left: 60px;
  margin-bottom: 23px;
}

.features-left p:first-child::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/sprite.png");
  background-position: -446px -10px;
  top: -20%;
  left: 0;
}

.features-left p:last-child::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/sprite.png");
  background-position: -567px -10px;
  top: -20%;
  left: 0;
}

.features-right p:first-child::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/sprite.png");
  background-position: -172px -10px;
  top: -20%;
  left: 0;
}

.features-right p:last-child::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/sprite.png");
  background-position: -731px -10px;
  top: -20%;
  left: 0;
}

.news {
  font-size: 0;
  margin-bottom: 40px;
}

.news-left,
.news-right {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  min-height: 220px;
  vertical-align: top;
  border-radius: 15px;
}

.news-left {
  width: 560px;
  margin-right: 26px;
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  background-position: 17% 39%;
}

.news-left span {
  display: block;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 24px;
  margin-bottom: 5px;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  display: block;
  width: 290px;
  margin-left: 20px;
}

.news-right {
  width: 550px;
  min-height: 210px;
  background-color: #f8f7f4;
  border: 5px solid transparent;
  border-image-source: url("../img/post-border.png");
  border-image-slice: 4;
  border-image-repeat: round;
}

.news-right p {
  margin-top: 29px;
  margin-left: 21px;
  margin-bottom: 37px;
  max-width: 510px;
}

.subscribe-form input[type="email"] {
  width: 365px;
  height: 40px;
  margin-left: 21px;
  margin-right: 11px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.btn-subscribe {
  text-shadow: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 25px;
}

.address {
  position: relative;
  min-height: 430px;
  min-width: 1200px;
  margin-right: -27px;
  margin-left: -27px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 50% 51%;
}

.address::before {
  content: "";
  position: absolute;
  min-width: 200px;
  height: 141px;
  background-image: url("../img/pin.png");
  background-repeat: no-repeat;
  top: 139px;
  left: 266px;
}

.address-details {
  width: 276px;
  padding-left: 26px;
  min-height: 305px;
  float: right;
  margin-top: 62px;
  margin-right: 27px;
  background-color: #fefefe;
  border-radius: 15px;
}

.address-details p {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

.address-details p:first-of-type {
  width: 150px;
  margin-top: 29px;
  margin-bottom: 3px;
}

.address-details strong {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
}

.address-details strong:first-of-type {
  margin-bottom: 16px;
}

.address-details p:nth-of-type(2) {
  margin-bottom: 6px;
}

.address-details strong:nth-of-type(2) {
  margin-bottom: 0;
}

.btn-feedback {
  display: block;
  width: 250px;
  margin-top: 25px;
  text-align: center;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 11px;
  border-radius: 25px;
  text-shadow: none;
}

.main-footer {
  font-size: 0;
  padding-bottom: 30px;
}

.main-footer .container {
  min-height: 103px;
}

.footer-social {
  width: 267px;
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
  margin-top: 36px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  margin-right: 11px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  opacity: 0.8;
}

.social-btn:hover {
  opacity: 1;
}

.social-btn:active {
  box-shadow: inset 0 2px 2px #9b9b9b;
}

.social-btn-tw {
  background-image: url("../img/sprite.png");
  width: 32px;
  height: 32px;
  background-position: -799px -10px;
}

.social-btn-inst {
  background-image: url("../img/sprite.png");
  width: 32px;
  height: 32px;
  background-position: -515px -10px;
}

.social-btn-fb {
  background-image: url("../img/sprite.png");
  width: 32px;
  height: 32px;
  background-position: -322px -10px;
}

.social-btn-vk {
  background-image: url("../img/sprite.png");
  width: 32px;
  height: 32px;
  background-position: -851px -10px;
}

.footer-info {
  width: 560px;
  display: inline-block;
  vertical-align: top;
  margin-right: 26px;
  margin-top: 33px;
}

.footer-info-left {
  display: inline-block;
  width: 120px;
  margin-left: 130px;
  margin-right: 21px;
  font-size: 13px;
  line-height: 18px;
}

.info-link {
  display: block;
  text-decoration: underline;
  color: #a9bbb1;
  margin-bottom: 4px;
}

.info-link span {
  text-decoration: none;
  color: #ffffff;
}

.info-link:hover {
  color: #ffbc9e;
}

.info-link:hover span {
  color: #ffbc9e;
}

.info-link:active {
  color: #ffbc9e;
}

.info-link:active span {
  color: #ffbc9e;
}

.link-icon {
  position: relative;
  font-weight: bold;
}

.link-icon::before {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  width: 15px;
  height: 13px;
  background-position: -411px -10px;
  top: 22%;
  left: -18%;
}

.footer-info-right {
  display: inline-block;
  width: 180px;
  font-size: 13px;
  line-height: 18px;
}

.footer-copyright {
  width: 267px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin-top: 19px;
  font-size: 13px;
  line-height: 18px;
}

.footer-copyright img {
  display: block;
  margin-bottom: 3px;
  margin-left: 79px;
}

.footer-copyright span {
  width: 199px;
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.copyright-link {
  color: #a9bbb1;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: underline;
}

.copyright-link span {
  text-decoration: none;
  color: #ffffff;
}

.copyright-link:hover {
  color: #ffbc9e;
}

.copyright-link:hover span {
  color: #ffbc9e;
}

.copyright-link:active {
  color: #ffbc9e;
}

.copyright-link:active span {
  color: #ffbc9e;
}


/*поп-апы*/

.search-popup {
  display: none;
  width: 342px;
  min-height: 64px;
  padding-top: 20px;
}

.search-form {
  width: 310px;
  min-height: 44px;
  margin: 0 auto;
}

.search-form input {
  display: block;
  width: inherit;
  min-height: inherit;
}

.login-block {
  display: none;
  width: 277px;
  min-height: 214px;
}

.login-form {
  min-height: inherit;
  font-size: 0;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 241px;
  min-height: 44px;
  margin-top: 20px;
  margin-left: 19px;
  border: 1px;
  padding: 0;
}

.btn-login {
  width: 102px;
  min-height: 46px;
  display: inline-block;
  vertical-align: top;
  margin-top: 14px;
  border: 0;
  padding: 0;
}

.login-text {
  display: inline-block;
  width: 130px;
  font-size: 13px;
  line-height: 24px;
  vertical-align: top;
  margin-top: 14px;
  margin-left: 19px;
}

.feedback {
  display: none;
  width: 454px;
  min-height: 442px;
  padding-top: 18px;
  padding-left: 24px;
}

.feedback strong {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  display: block;
  margin-bottom: 20px;
  width: 267px;
  min-height: 44px;
}

.feedback-form input[type="text"] {
  margin-top: 20px;
}

.feedback-form textarea {
  width: 428px;
  min-height: 155px;
  margin-bottom: 25px;
}

.btn-feedback-send {
  width: 140px;
  float: right;
  margin-right: 23px;
  min-height: 47px;
  border: 0;
  padding: 0;
}


/*inner.html*/

.breadcrumbs {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 27px;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  margin-right: 10px;
}

.page-title {
  margin-bottom: 33px;
}

.page-title h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.filters {
  margin-bottom: 40px;
  font-size: 0;
}

.filter-form legend {
  padding: 0;
}

.filter-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-right: 15px;
}

.filter-select-container {
  display: inline-block;
  width: 193px;
  vertical-align: top;
}

.filter-select-container select {
  min-height: 36px;
  width: inherit;
  border: none;
}

.filter-range-container {
  display: inline-block;
  width: 218px;
  vertical-align: top;
  min-height: 36px;
}

.filter-range-container input {
  width: inherit;
  margin: 0;
}

.filter-radio {
  display: inline-block;
  width: 415px;
  vertical-align: top;
}

.filter-radio-container {
  min-height: 36px;
  width: inherit;
}

.filter-radio-container input {
  margin: 0;
}

.filter-checkbox {
  display: inline-block;
  width: 702px;
  vertical-align: top;
}

.filter-checkbox input {
  margin: 0;
}

.filter-checkbox-container {
  min-height: 36px;
  width: inherit;
}

.btn-filter {
  width: 144px;
  min-height: 36px;
  margin-top: 10px;
}

.pagination {
  width: 267px;
  min-height: 36px;
  float: right;
  text-align: right;
  margin-bottom: 30px;
}

.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-list li {
  display: inline-block;
}

.bottom-line {
  width: 1146px;
  margin: 0;
}


/*поп-ап корзины*/

.cart-popup {
  display: none;
  width: 510px;
  min-height: 242px;
  padding-top: 19px;
  padding-left: 15px;
  padding-right: 15px;
}

.item-container {
  margin-bottom: 20px;
  font-size: 0;
}

.item-container>* {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}

.item-thumbnail {
  margin-left: 27px;
  width: 33px;
  min-height: 33px;
  margin-right: 13px;
}

.item-name {
  width: 223px;
  padding-top: 12px;
  font-size: 13px;
  line-height: 16px;
}

.item-quantity {
  padding-top: 12px;
  font-size: 13px;
  line-height: 16px;
}

.item-value {
  padding-top: 12px;
  font-size: 13px;
  line-height: 16px;
  margin-right: 0;
}

.item-total {
  width: 170px;
  float: right;
  text-align: right;
  margin-top: 16px;
}

.cart-popup strong {
  display: block;
  margin-bottom: 16px;
}

.btn-order {
  display: block;
  text-align: center;
  min-height: 46px;
}